#app {
  text-align: left;
  width: 75%;
  margin: 2em auto;
}

#film-box {
  border: 1.5px solid black;
  padding: 1em;
  background-color: ghostwhite;
}

a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

li {
  padding: 1em;
}

button {
  width: 100%;
  font-size: 2em;
  color: dodgerblue;
  padding: 0.5em;
  border: 1.5px solid black;
  background-color: lightskyblue;
}

button:hover {
  cursor: pointer;
}